<ion-view hide-nav-bar="true" id="home-view">
	
    <ion-header-bar class="bar-dark" style="opacity: 0.6">
        <div class="button-bar">
            <a class="button button-clear nav-a"ui-sref="view1">摄影作品<span>|</span></a>
            <a class="button button-clear nav-a"ui-sref="view2">客片展示<span>|</span></a>
            <a class="button button-clear nav-a"ui-sref="view3">优惠活动<span>|</span></a>
            <a class="button button-clear nav-a"ui-sref="view4">关于我们</a>
        </div>
    </ion-header-bar>
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000">
            <ion-slide>
                <div class="box"><img src="images/slide1.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/home1.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/home2.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/home3.jpg"/></div>
            </ion-slide>
        </ion-slide-box>
</ion-view>