<ion-view view-title="8月客片展示"class="dark-bg">
    <ion-content style="background: #000">
        <ion-slide-box on-slide-changed="onSlideChanged()"style="top: 50%;transform: translateY(-50%);">
            <ion-slide>
            <div class="box1"><img src="images/view8.jpg"></div>
            </ion-slide>
            <ion-slide>
                 <div class="box1"><img src="images/view9.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box1"><img src="images/view10.jpg"></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>