<ion-view view-title="车车婚纱摄影">
    <div class="bar bar-subheader bar-stable" style="border: none;">
        <div class="button-bar bar-stable" >
            <a class="button button-clear nav-a"ui-sref="view1" style="border: none;">摄影作品<span>|</span></a>
            <a class="button button-clear nav-a"ui-sref="view2" style="border: none;">客片展示<span>|</span></a>
            <a class="button button-clear nav-a"ui-sref="view3" style="border: none;">优惠活动<span>|</span></a>
            <a class="button button-clear nav-a"ui-sref="view4" style="border: none;">关于我们</a>
        </div>
    </div>
    <ion-content class="has-subheader">
         <div class="box"><img src="images/view4_1.jpg"></div>
    </ion-content>
</ion-view>