<ion-view view-title="车车婚纱摄影">
    <ion-content class="padding">
        <div class="view3-box">
            <div class="box1"> <img src="images/view10.jpg"></div>
            <p>浪漫七夕，给你想不到的福利！十大拍摄场馆，上百套婚纱礼服任你挑选。</p>
            <h3>活动详情:</h3>
            <p>1、任选5个拍摄场景、5套礼服</p>
            <p>2、全程免费化妆与摄影</p>
            <p>3、提供免费午餐</p>
            <h3>注意事项:</h3>
            <p>1、穿舒适的鞋</p>
            <p>2、做好防晒工作</p>
            <br><br />
            <p class="rmb">活动价格:<span>2999元</span></p>
            <div class="bot">
                <p class="tel">400-1234-567<span>24小时免费咨询电话</span></p>
                <h2> <i class="icon ion-ios-telephone"></i></h2>
            </div>

        </div>

    </ion-content>
</ion-view>