<ion-view view-title="骑士爱之风范"class="dark-bg">
    <ion-content style="background: #000">
        <ion-slide-box on-slide-changed="onSlideChanged()"style="top: 50%;transform: translateY(-50%);">
            <ion-slide>
            <div class="box1"><img src="images/view0.jpg"></div>
            </ion-slide>
            <ion-slide>
                 <div class="box1"><img src="images/view1_2.jpg"></div>
            </ion-slide>
            <ion-slide>
            <div class="box1"><img src="images/view04.jpg"></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>