<ion-view view-title="车车婚纱摄影">
    <ion-content class="padding">
        <div class="view3-box">
            <div class="box1"> <img src="images/view8.jpg"></div>
            <p>现招募30队新人，参与日本浪漫樱花婚纱摄影拍摄。</p>
            <h3>活动详情:</h3>
            <p>1、5天4晚住宿、晚饭机票</p>
            <p>2、拍摄4个场景，3天</p>
            <p>3、其他</p>
            <br><br />
            <p class="rmb">活动价格:<span>18799元</span></p>
            <div class="bot">
                <p class="tel">400-1234-567<span>24小时免费咨询电话</span></p>
                <h2> <i class="icon ion-ios-telephone"></i></h2>
            </div>

        </div>

    </ion-content>
</ion-view>